
@{
    ViewData["Title"] = "CompanyDet";
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Det</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">


    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/comDetstyle.css">

</head>

<body>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="navbar-brand"><img src="~/img/Logo.png" alt="logo"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Why us</a>
                    <div class="dropdown-menu">
                        <a href="" class="dropdown-item">Web Design</a>
                        <a href="" class="dropdown-item">Web Development</a>
                        <a href="" class="dropdown-item">Graphic Design</a>
                        <a href="" class="dropdown-item">Digital Marketing</a>
                    </div>
                </div>
                <a href="" class="nav-item nav-link active">Team</a>
                <a href="" class="nav-item nav-link active">Clients Saying</a>
                <a href="" class="nav-item nav-link">Contact</a>

            </div>

            <div class="navbar-nav ml-auto action-buttons">
                <a href="@Url.Action("GoToComapnyReg","Users",null)" id="company" class="btn btn-1 nav-item  sign-up-btn nav-link mr-4 ">For Employers</a>
                <a href="@Url.Action("GoToLogin","Users",null)" class="btn btn-1 nav-item sign-up-btn nav-link mr-4">&nbsp;&nbsp; Login &nbsp;&nbsp;</a>
                <a href="@Url.Action("GoToPersonalReg","Users",null)" class="btn btn-1  nav-item sign-up-btn">Sign up</a>
            </div>
        </div>
    </nav>
    <!-- Navbar end -->
    <!-- Header Start -->
    <section class="trial-block shadow3" id="ContactUs">
        <div class="height450">
            <div class="social-overlap process-scetion mt100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="social-bar">
                                <div class="social-icons mb-3 iconpad text-center">
                                    <a href="" id="reg" class="slider-nav-item "><span class="material-icons">app_registration</span></a>
                                    <a href="" id="det" class="slider-nav-item active"><span class="material-icons">account_circle</span></a>
                                    <a href="" id="exp" class="slider-nav-item "><span class="material-icons">description</span></a>
                                    <a href="" id="proj" class="slider-nav-item "><span class="material-icons">camera</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header end -->
    <!-- Form Reg -->
    <section class="reg">
        <div class="container">
            <div class="title">
                <i class="fas fa-info-circle"></i>
                Company Details
            </div>
            <div class="content">
                <form method="post" enctype="multipart/form-data">
                    <div class="user-details">
                        <div id="profile">
                            <div class="dashes"></div>
                            <label><i class="fa fa-camera"></i>Add Photo</label>
                        </div>
                        <div class="input-box width80">
                            <span class="details">Company Name</span>
                            <input type="text" required name="CoumpanyName">
                        </div>
                        <div class="input-box ">
                            <span class="details">Job Title</span>
                            <select name="StartDate" id="JobTitle" class="form-control1 StartDate">
                                <option value="webbapplications" selected>Web applications</option>
                                <option value="mobileapplications">Mobile applications</option>
                                <option value="artificialintelligence">Artificial intelligence</option>
                                <option value="networkadministrator">Network administrator</option>
                                <option value="computersystemsmanager">Computer systems manager</option>
                            </select>
                        </div>
                        <div class="input-box">
                            <span class="details">Phone Number</span>
                            <input type="text" required name="PhoneNumber">
                        </div>
                        <div class="input-box ">
                            <span class="details">Company Location</span>
                            <input type="text" required name="CompanyLocation">
                        </div>
                        <div class="input-box ">
                            <span class="details">Company Type</span>
                            <input type="text" required name="CompanyType">
                        </div>
                        <div class="input-box full">
                            <span class="details">Description</span>
                            <textarea required name="Description"></textarea>
                        </div>
                        <div class="input-box ">
                            <span class="details">GitHup Link</span>
                            <input type="text" name="GitHupLink">
                        </div>
                        <div class="input-box ">
                            <span class="details">FaceBook Link</span>
                            <input type="text" name="FaceBookLink">
                        </div>
                        <div class="input-box">
                            <span class="details">Linkedin Link</span>
                            <input type="text" name="LinkedinLink">
                        </div>
                        <div class="input-box ">
                            <span class="details">Instagram Link</span>
                            <input type="text" name="InstagramLink">
                        </div>

                    </div>
                    <div class="button">
                        <div class="back">
                            <span class="material-icons">
                                arrow_back
                            </span>
                                <input type="button" value="Back" onclick="location.href='@Url.Action("CompanyReg", "Users")'">
                        </div>

                        <div class="next">
                                <input type="submit" value="Next">
                            <span class="material-icons">
                                arrow_forward
                            </span>
                        </div>
                    </div>
                    <input type="file" id="mediaFile" name="mediaFile" />
                </form>
            </div>
        </div>
    </section>
    <!-- Form Reg end-->
    <!-- script -->
    <script src="~/Scripts/PersoanReg.js"></script>
</body>

</html>

