
@{
    ViewData["Title"] = "PersonalForgotPassword";
    Layout = null;
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <title>Personal Portfolio Website</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- main css -->

    <link rel="stylesheet" type="text/css" href="~/Content/PersonalChangePassword.css">


</head>
<body class="dark">



    <div class="notifi-box" id="box">
        <h2>Notifications <span>17</span></h2>
        <div class="notifi-item">
            <img src="~/img/avatar1.png" alt="img">
            <div class="text">
                <h4>Elias Abdurrahman</h4>
                <p> ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="notifi-item">
            <img src="~/img/avatar2.png" alt="img">
            <div class="text">
                <h4>John Doe</h4>
                <p> ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="notifi-item">
            <img src="~/img/avatar3.png" alt="img">
            <div class="text">
                <h4>Emad Ali</h4>
                <p> ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="notifi-item">
            <img src="~/img/avatar4.png" alt="img">
            <div class="text">
                <h4>Ekram Abu </h4>
                <p> ipsum dolor sit amet</p>
            </div>
        </div>

        <div class="notifi-item">
            <img src="~/img/avatar5.png" alt="img">
            <div class="text">
                <h4>Jane Doe</h4>
                <p> ipsum dolor sit amet</p>
            </div>
        </div>

    </div>
    <!-- navigation menu end -->
    <!-- change password section end -->

    <section class="change-passwrod section" id="change-passwrod">
        <!-- navigation menu start -->
        <nav class="navbar navbar-expand-xl navbar-dark ">
            <a href="#" class="navbar-brand"><img src="~/img/Logo.png" alt="logo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
                <form class="navbar-form form-inline">
                    <div class="input-group search-box">
                        <input type="text" id="search" class="form-control" placeholder="Search here...">
                        <span class="input-group-addon"><i class="material-icons">&#xE8B6;</i></span>
                    </div>
                </form>
                <div class="navbar-nav ml-auto">
                    <a href="#home" class="nav-item nav-link active"><i class="fa fa-home"></i><span>Home</span></a>
                    <!-- <a href="#about" class="nav-item nav-link"><i class="fa fa-address-card"></i><span>About</span></a> -->
                    <!-- <a href="#services" class="nav-item nav-link"><i class="fab fa-servicestack"></i><span>services</span></a> -->
                    <a href="#portfolio" class="nav-item nav-link"><i class="fa fa-gears"></i><span>Projects</span></a>
                    <!-- <a href="#testimonial" class="nav-item nav-link"><i class="fa fa-users"></i><span>Testimonial</span></a> -->
                    <a href="#contact" class="nav-item nav-link"><i class="fa fa-briefcase"></i><span>Contact</span></a>
                    <!-- <a href="#" class="nav-item nav-link"><i class="fa fa-envelope"></i><span>Messages</span></a>		 -->
                    <a href="#" class="nav-item nav-link" onclick="toggleNotifi()"><i class="fa fa-bell"><span class="number">17</span></i><span>Notifications</span></a>

                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action"><img src="~/img/profile-pic.jpg" class="avatar" alt="Avatar"> Murad Aawd <b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <!-- <a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a> -->
                            <a href="#changepassword" class="dropdown-item"><i class="fa fa-lock"></i> Chenge Password</a>
                            <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Edit Data</a>
                            <div class="divider dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="material-icons">&#xE8AC;</i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- navigation menu end -->

        <div class="container">
            <div class="row">
                <div class="section-title">
                    <h2 data-heading="Change Password"></h2>
                </div>
            </div>

            <div class="row middle">
                <div class="change-form">
                    <form>
                        <div class="row">
                            <div class="title1">
                                <h2>Send New Password</h2>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="w-100">
                                <div class="input-group outer-shadow hover-in-shadow margin">
                                    <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                    <input type="text" placeholder="Email"class="input-control" name="email" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="submit-btn">
                                <input type="submit" value="Send" class="btn-2 outer-shadow hover-in-shadow"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="~/Scripts/ChangePasswordmain.js"></script>
</body>
</html>



