
@{
    ViewData["Title"] = "PersonalWorkExperience";
    Layout = null;
}


<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Exp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/perExpstyle.css">
</head>

<body>

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg">
        <a href="#" class="navbar-brand"><img src="~/img/Logo.png" alt="logo"></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            <div class="navbar-nav">
                <a href="#" class="nav-item nav-link">Home</a>
                <div class="nav-item dropdown">
                    <a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle">Why us</a>
                    <div class="dropdown-menu">
                        <a href="#" class="dropdown-item">Web Design</a>
                        <a href="#" class="dropdown-item">Web Development</a>
                        <a href="#" class="dropdown-item">Graphic Design</a>
                        <a href="#" class="dropdown-item">Digital Marketing</a>
                    </div>
                </div>
                <a href="#" class="nav-item nav-link active">Team</a>
                <a href="#" class="nav-item nav-link active">Clients Saying</a>
                <a href="#" class="nav-item nav-link">Contact</a>

            </div>

            <div class="navbar-nav ml-auto action-buttons">

                <a href="#" class="btn btn-1 nav-item nav-link mr-4 ">For Seekers</a>
                <a href="#" class="btn btn-1 nav-item nav-link mr-4">&nbsp;&nbsp; Login &nbsp;&nbsp;</a>
                <a href="#" class="btn btn-1  nav-item sign-up-btn">Sign up</a>

            </div>
        </div>
    </nav>
    <!-- Navbar end -->
    <!-- Header Start -->
    <section class="trial-block shadow3" id="ContactUs">
        <div class="height450">
            <div class="social-overlap process-scetion mt100">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10">
                            <div class="social-bar">
                                <div class="social-icons mb-3 iconpad text-center">
                                    <a href="PersonalReg.html" id="reg" class="slider-nav-item " onclick="activeshadowreg()"><span class="material-icons">app_registration</span></a>
                                    <a href="PersonalDet.html" id="det" class="slider-nav-item " onclick="activeshadowdet()"><span class="material-icons">account_circle</span></a>
                                    <a href="PersoanlExp.html" id="exp" class="slider-nav-item active" onclick="activeshadowexp()"><span class="material-icons">description</span></a>
                                    <a href="PersoanlProject.html" id="proj" class="slider-nav-item " onclick="activeshadowproj()"><span class="material-icons">camera</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Header end -->
    <!-- Form Reg -->
    <section class="reg">
        @* <div class="container" id="ExperienceForm">
           <div class="title"><i class="fa fa-briefcase"></i>Work Experience</div>
            <div class="content">
                <form action="#" id="Experience">
                    <div class="user-details" id="Experiencesuser">
                        <div class="input-box ">
                            <span class="details">Job Title</span>
                            <input type="text">
                        </div>
                        <div class="input-box ">
                            <span class="details">City/Town</span>
                            <input type="text">
                        </div>
                        <div class="input-box full">
                            <span class="details">Employer</span>
                            <input type="text">
                        </div>
                        <div class="input-box margin0">
                            <span class="details">Start Date</span>
                            <select name="date" id="date" class="form-control">
                                <option value="15" selected>15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                            <select name="month" id="month" class="form-control">
                                <option value="Jan" selected>Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                            </select>
                        </div>
                        <div class="input-box margin0">
                            <span class="details">Start Date</span>
                            <select name="date" id="date" class="form-control">
                                <option value="15" selected>15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                            <select name="month" id="month" class="form-control">
                                <option value="Jan" selected>Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                            </select>
                        </div>
                        <div class="input-box full">
                            <span class="details">Description</span>
                            <textarea></textarea>
                        </div>
                    </div>
                </form>
                <div class="buttonADD" id="button">
                    <div class="next">
                        <input type="submit" value="Add more fields" onclick="addNewExperienceForm()">
                    </div>
                </div>
            </div>
        </div>



        <div class="container" id="EducationForm">
            <div class="title"><i class="fa fa-briefcase"></i>Education and Qualification</div>
            <div class="content">
                <form action="#" id="Education">
                    <div class="user-details" id="Educationsuser">
                        <div class="input-box full">
                            <span class="details">Degree</span>
                            <input type="text">
                        </div>
                        <div class="input-box margin0">
                            <span class="details">Start Date</span>
                            <select name="date" id="date" class="form-control">
                                <option value="15" selected>15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                            <select name="month" id="month" class="form-control">
                                <option value="Jan" selected>Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                            </select>
                        </div>
                        <div class="input-box  margin0">
                            <span class="details">End Date</span>
                            <select name="date" id="date" class="form-control">
                                <option value="15" selected>15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                            </select>
                            <select name="month" id="month" class="form-control">
                                <option value="Jan" selected>Jan</option>
                                <option value="Feb">Feb</option>
                                <option value="Mar">Mar</option>
                                <option value="Apr">Apr</option>
                                <option value="May">May</option>
                            </select>
                        </div>
                        <div class="input-box full">
                            <span class="details">Description</span>
                            <textarea ></textarea>
                        </div>
                    </div>
                </form>
                <div class="buttonADD" id="button1">
                    <div class="next">
                        <input type="submit" value="Add more fields" onclick="addNewEducationForm()">
                    </div>
                </div>
            </div>
        </div>*@

        <div class="container" id="ServicesForm">
            <div class="title"><i class="fa fa-briefcase"></i>Services</div>
            <div class="content">
                <form action="#" id="Services">
                    <div class="user-details" id="Servicesuser">
                        <div class="input-box full">
                            <span class="details">Job Title</span>
                            <input type="text" name="JobTitle">
                        </div>
                        <div class="input-box full">
                            <span class="details">Description</span>
                            <textarea name="Description"></textarea>
                        </div>
                    </div>
                </form>
                <div class="buttonADD" id="button2">
                    <div class="next">
                        <input type="submit" value="Add more fields" onclick="addNewServicesForm()">
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="SkillsForm">
            <div class="title"><i class="fa fa-briefcase"></i>Skills</div>
            <div class="content">
                <form method="post" id="Skills">
                    <div class="user-details" id="Skillsuser">
                        <div class="input-box ">
                            <span class="details">Skills</span>
                            <input type="text" id="skill" name="skill">
                        </div>
                        <div class="input-box ">
                            <span class="details">Level</span>
                            <input type="text" id="level" name="level">
                        </div>
                    </div>
                </form>
                <div class="buttonADD" id="button3">
                    <div class="next">
                        <input type="button" value="Add more fields" onclick="addNewSkillsForm()">
                    </div>
                </div>
            </div>
        </div>


        <div class="button">
            <div class="back">
                <span class="material-icons">
                    arrow_back
                </span>
                <input type="button" value="Back">
            </div>
            @using (Html.BeginForm("PersonalWorkExperience", "PersonalWorkExperience", FormMethod.Post, new { id = "PersonalWorkExperience" }))
            {
              <div class="next">
                    <input type="button" value="Next" onclick="javascript:document.getElementById('PersonalWorkExperience').submit()">
                    <span class="material-icons">
                        arrow_forward
                    </span>
              </div>
            }
        </div>
    </section>
    <!-- Form Reg end-->
    <!-- script -->
    <script src="~/Scripts/PersoanReg.js"></script>
    <script>         
    </script>
</body>

</html>

