

/*---------------
global style
----------------*/
/* define custom css variables */
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --dark-800: #24292d;
  --dark-700: #2f363e;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}
/* override custom css variables for dark theme */
body.dark {
  --bg-black-900: #ffffff;
  --bg-black-100: #353535;
  --bg-black-50: #2b2c2f;
  --bg-opacity: rgba(43, 44, 47, 0.5);
  --text-black-900: #ffffff;
  --text-black-700: #ffffff;
  --text-black-600: #bbbbbb;
  --outer-shadow: 3px 3px 3px #222327, -3px -3px 3px #363636;
  --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
  --inner-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #363636;
  --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}
body {
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black-50);
}
body.hidden-scrolling {
  overflow-y: visible;
  scroll-behavior: smooth;
}
*:not(i) {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
.hide {
  display: none;
}
.active {
  display: block;
}
:before,
:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: var(--skin-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 1140px;
  margin: auto;
  padding: 60px 0 0 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.outer-shadow {
  box-shadow: var(--outer-shadow);
}
.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow:focus {
  box-shadow: 0 0 10px #7c6db3;
}
.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  z-index: -1;
  border-radius: 20px;
}
.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}
.align-items-center {
  align-items: center;
}
.btn-1 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color);
  background-color: transparent;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}
.btn-1:after {
  border-radius: 30px;
}

.section-title {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.section-title h2 {
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  color: var(--text-black-900);
  text-transform: capitalize;
  margin: 0;
}
.section-title h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 30px;
  font-weight: 600;
  color: var(--skin-color);
}


/* NavBar Start*/

.navbar {
  padding: 5px 16px;
  border-radius: 0;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}
.navbar img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}
.navbar .navbar-brand img{
  width: 150px;
  height: 50px;
}

.navbar .navbar-brand i {
  font-size: 25px;
  margin-right: 5px;
}
.search-box {
  position: relative;
}
.search-box input {
  padding-right: 35px;
  min-height: 38px;
  border: none;
  background: #faf7fd;
  border-radius: 20px !important;
}
.search-box input:focus {
  background: #fff;
  box-shadow: none;
}
.search-box .input-group-addon {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 10px 7px;
  height: 100%;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
.navbar .nav-item {
  margin-left: 15px;
}
.navbar .nav-item i {
  font-size: 18px;
}
.navbar .nav-item span {
  position: relative;
  top: 3px;
}
.navbar .navbar-nav > a {
  color: #efe5ff;
  padding: 8px 15px;
  font-size: 14px;
}
.navbar .navbar-nav > a:hover,
.navbar .navbar-nav > a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}
.navbar .navbar-nav > a > i {
  display: block;
  text-align: center;
}
.navbar .dropdown {
  margin-left: 250px;
}
.navbar .dropdown-item i {
  font-size: 16px;
  min-width: 22px;
}
.navbar .dropdown-item .material-icons {
  font-size: 21px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: -2px;
}
.navbar .nav-item.open > a,
.navbar .nav-item.open > a:hover,
.navbar .nav-item.open > a:focus {
  color: #fff;
  background: none !important;
}
.navbar .dropdown-menu {
  border-radius: 5px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .dropdown-menu a {
  color: #777 !important;
  padding: 8px 20px;
  line-height: normal;
  font-size: 15px;
}
.navbar .dropdown-menu a:hover,
.navbar .dropdown-menu a:focus {
  color: #333 !important;
  background: transparent !important;
}
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
  color: #fff;
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
  background: transparent !important;
}
.navbar .navbar-nav .user-action {
  padding: 9px 15px;
  font-size: 15px;
}
.navbar .navbar-toggle {
  border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
  background: #fff;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
  background: #faf7fd;
  border-radius: 1px;
  border-color: #faf7fd;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .divider {
  background-color: #e9ecef !important;
}

/* Navigiaticon */

.notifi-box {
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  height: 0px;
  opacity: 0;
  position: absolute;
  overflow-y: scroll;
  top: 65px;
  z-index: 100;
  right: 440px;
  transition: 1s opacity, 250ms height;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.notifi-box h2 {
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #eee;
  color: #999;
}
.notifi-box h2 span {
  color: #f00;
}
.notifi-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}
.notifi-item:hover {
  background-color: #eee;
}
.notifi-item img {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
}
.notifi-item .text h4 {
  color: #777;
  font-size: 16px;
  margin-top: 10px;
}
.notifi-item .text p {
  color: #aaa;
  font-size: 12px;
}
.navbar .nav-item .number {
  background-color: red;
  padding: 2px;
  color: #fff;
  font-size: 11px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  left: -9px;
}

/* NavBar End*/


/* Chenge Password */
.change-passwrod {
  /* padding: 80px 0 80px; */
  min-height: 100vh;
}
.change-passwrod .change-form {
  flex: 0 0 100%;
  max-width: 100%;
  margin-top: 50px;
}
.change-passwrod .w-100 {
  padding: 0 15px;
  flex: 0 0 90%;
  max-width: 90%;
  margin: 0 auto;
}
.change-passwrod .input-group {
  margin: 0 0 25px;
  transition: all 0.3s ease;
  border-radius: 30px;
}
.change-passwrod .input-group:after {
  border-radius: 30px;
}
.change-passwrod .input-group .input-control {
  height: 45px;
  display: block;
  width: 100%;
  border-radius: 30px;
  border: none;
  background-color: var(--dark-800);
  font-size: 16px;
  padding: 0 15px;
  color: white;
  padding: 8px 10px 9px 35px;
}
.change-passwrod .submit-btn {
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  padding: 0 15px;
  margin-top: 10px;
  position: relative;
}
.change-passwrod .input-group > span {
  position: absolute;
  left: 0;
  top: 0;
  color: white;
  height: 100%;
  border-right: 1px solid #ccc;
  text-align: center;
  width: 30px;
}
.change-passwrod .input-group> span > i {
  padding-top: 14px;
}
.change-passwrod .middle {
  margin: 0 auto;
  width: 450px;
  height: auto;
  padding: 0 15px 15px 15px;
  z-index: 1;
  position: relative;
}
.change-passwrod .middle::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background: var(--dark-700);
  z-index: -1;
  box-shadow: 0 0 40px #7c6db3;
}
.btn-2 {
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  background-color: var(--dark-800);
  line-height: 1.5;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
  outline: none;
}
.title1 {
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.title1 h2 {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  margin: 0;
}
.title1 h2:before {
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color);
}
