/* Global style */
:root {
  --main-color: #9b59b6;
  --color-1: #eaa023;
  --color-2: #e91e63;
  --dark-800: #24292d;
  --dark-700: #2f363e;
  --white-900: #ffffff;
  --white-800: rgba(255, 255, 255, 0.8);
  --shadowblack: 0 0 15px rgba(0, 0, 0, 0.2);
  --shadowwhite:0 0 30px white;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  overflow-x: hidden;
  background-color: var(--dark-800);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
::before,
::after {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.aline-items-center {
  align-items: center;
}
.align-content-center {
  align-content: center;
}
.h-100 {
  min-height: 100vh;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 30px;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  font-family: inherit;
}
.btn-1 {
  background-color: var(--main-color);
  color: var(--white-900);
}
.btn-1:hover {
  background-color: transparent;
  border-color: var(--main-color);
  color: var(--main-color);
}
@keyframes spin01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes zoomOutIn01 {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}
.sec-padding {
  padding: 80px 0;
}
.section-title {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 60px;
}
.section-title h2 {
  text-align: center;
  text-transform: capitalize;
  font-size: 35px;
  color: var(--white-900);
  font-weight: 600;
}
.section-title h2 span {
  position: relative;
}
.section-title h2 span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  transform: skewY(-3deg);
}
p {
  font-size: 16px;
  color: var(--white-800);
}
.form-control {
  height: 45px;
  width: 100%;
  display: block;
  margin-bottom: 30px;
  padding: 0 15px;
  border-radius: 30px;
  background-color: var(--dark-800);
  border: 1px solid transparent;
  font-size: 16px;
  font-family: inherit;
  color: var(--white-900);
  font-weight: 300;
  transition: all 0.5s ease;
}
.form-control::placeholder {
  color: var(--white-800);
}
.form-control:focus {
  border-color: var(--main-color);
}

.form-control {
  box-shadow: none;
  font-weight: normal;
  font-size: 13px;
}

.navbar {
  background-color: var(--dark-700);
  color: var(--white-900);
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 0;
}
.nav-link img {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  margin: -8px 0;
  float: left;
  margin-right: 10px;
}
.navbar .navbar-brand img{
  width: 150px;
  height: 50px;
}
.navbar-nav .dropdown-menu {
  background-color: var(--dark-700);
}
.navbar .form-inline {
  display: inline-block;
}
.navbar a {
  color: var(--white-900);
  font-size: 15px;
}
.navbar .navbar-form {
  border: none;
}
.navbar .action-form {
  width: 280px;
  padding: 20px;
  left: auto;
  right: 0;
  font-size: 14px;
}
.navbar .action-form a {
  color: var(--white-900);
  padding: 0 !important;
  font-size: 14px;
}
.navbar .action-form .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .btn-primary,
.navbar .btn-primary:active {
  color: var(--white-900);
  background: #33cabb !important;
  border: none;
}
.navbar .btn-primary:hover,
.navbar .btn-primary:focus {
  color: var(--white-900);
  background: #31bfb1 !important;
}
.navbar .social-btn .btn,
.navbar .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}
.navbar .action-buttons .dropdown-toggle::after {
  display: none;
}
.form-check-label input {
  position: relative;
  top: 1px;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-menu.action-form {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
}
.social-overlap {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.process-scetion .slider-nav-item {
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 50px;
  
}
.process-scetion .slider-nav-item .material-icons{
   font-size: 30px;
   margin-top: 10px;
}
.social-icons a {
  border-radius: 50px;
  color: #3f345f;
  display: inline-block;
  line-height: 52px;
  height: 50px;
  width: 50px;
  box-shadow: 0 5px 25px rgba(93, 70, 232, 0.15);
  margin: 15px 15px;
  font-size: 30px;
}
.process-scetion .slider-nav-item:nth-child(2){
  padding-top: 0;
}
a {
  text-decoration: none !important;
  color: #3f345f;
  transition: all 0.3s ease 0s;
}

.slider-nav-item:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

/*socil*/
.slider-nav {
  display: flex;
}
.social-bar a:hover span
{
  -webkit-animation: jello-horizontal 0.9s both;
          animation: jello-horizontal 0.9s both;
}
.process-scetion .slider-nav-item.active{
  box-shadow: 0 0 30px #7c6db2;
}
.process-scetion .slider-nav-item:after {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 5px;
  content: "";
  width: 140%;
  background: url(http://demo.themenio.com/ico/assets/images/line.png) repeat 0
    0;
  z-index: 0;
  animation: slide 1s linear infinite;
}
.process-scetion .slider-nav-item:last-child:after {
  display: none;
}

.mt100 {
  margin-top: 70px;
}

.process-scetion .slider-nav-item.active:before {
  position: absolute;
  content: "";
  height: calc(100% + 16px);
  width: calc(100% + 16px);
  top: -8px;
  left: -8px;
  border-radius: 50%;
  border: 1px solid rgba(132, 132, 164, 0.35);
  animation: 1.5s linear 0s normal none infinite focuse;
}

@keyframes focuse {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  75% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes slide {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}

@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media only screen and (max-width: 300px) {
  .process-scetion {
    height: 30px;
    width: 30px;
    margin: 15px 10px;
    line-height: 28px;
  }
}

/* Form Det */
.reg{
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}
.reg .container{
  margin-top: 120px;
 max-width: 600px;
 width: 100%;
 padding: 25px 30px;
 border-radius: 10px;
 position: relative;
 color: white;
}
.reg .container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  background: var(--dark-700);
  z-index: -1;
  box-shadow: 0 0 40px #7c6db3;
}
.reg .container .title{
 font-size: 16px;
 font-weight: 500;
 padding: 10px 0;
 position: relative;
 border-bottom:1px solid black ;
}
.reg .container .title i{
    margin-right: 10px;
    color: #d9d9d9;
}
.reg .content form .user-details{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 margin: 20px 0 12px 0;
}
form .user-details .input-box{
 margin-bottom: 15px;
 width: calc(100% / 2 - 10px);
}
form .user-details .input-box textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--dark-800);
  color: var(--white-900);
  -webkit-writing-mode: horizontal-tb !important;
  border-style: inset;
  border-width: 2px;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
}
form .user-details .input-box.width80{
  margin-bottom: 15px;
  width: 35%;
 }
form .user-details .input-box.full{
  width: 100%;
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
 }
.user-details .input-box input{
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  color: var(--white-900);
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  background-color: var(--dark-800);
 }
 .user-details .input-box input:focus, 
 .user-details .input-box textarea:focus{
  border-color: #9b59b6;
 }
 
 .reg .button,
 .reg .buttonADD{
  height: 45px;
  text-align: center;
  display: block;
  max-width: 600px;
  margin: 45px auto;
  position: relative;
}

.reg .button .back{
  position: absolute;
}
.reg .button .next{
  position: absolute;
  right: 0px;
}

.reg .button .back  span{
  position: absolute;
  color: white;
  left: 0;
  top: 25%;
  z-index: -1;
}
.reg .button .next  span{
  position: absolute;
  color: white;
  right: 0;
  top: 25%;
  z-index: -1;
}
.reg .buttonADD input{
  display: inline-block;
  height: 100%;
  width: 250px;
  border-radius: 5px;
  padding: 10px 20px;
  justify-content: center;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0 10px #7c6db3;
  background-color: transparent;
}
.reg .button .back input,
.reg .button .next input{
  display: inline-block;
  height: 100%;
  width: 100px;
  border-radius: 5px;
  padding: 10px 20px;
  justify-content: center;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0 0 10px #7c6db3;
  background-color: transparent;
}

@media(max-width: 584px){
.container{
 max-width: 100%;
}
form .user-details .input-box{
   margin-bottom: 15px;
   width: 100%;
 }
 form .category{
   width: 100%;
 }
 .content form .user-details{
   max-height: 300px;
   overflow-y: scroll;
 }
 .user-details::-webkit-scrollbar{
   width: 5px;
   }
 }
 @media(max-width: 459px){
 .container .content .category{
   flex-direction: column;
 }
}

.user-details .input-box select {
  float: left;
  margin-right: 10px;
  height: 35px;
  width: 46%;
  outline: none;
  background-color: var(--dark-800);
  color: var(--white-900);
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box.margin0{
  margin-bottom: 0;
}
.delete {
    width: 100%;
    height: 30px;
    display: block;
}
.remove {
    display: inline-block;
    width: 25px !important;
    height: 25px !important;
    padding: 0;
    border-radius: 2px;
}